<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card >
  <ion-card-header class="content">
    <ion-card-title>Learning a new framework</ion-card-title>
  </ion-card-header>

  <ion-card-content class="content">
    <img src="https://i.scdn.co/image/ab67706c0000da84383f7ba881b2c830b2208634">
  </ion-card-content>
</ion-card>

<ion-button color="danger" [routerLink]="['tab2']">How it feels</ion-button>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
